<div class="center-feature">

  <% @news.each do |news| %>
  <div class="news-article" style="position:relative;margin:80px 0">
    <div class="length-limit">
      <center>
        <h3 style="display:inline"><%= link_to news.title, news_with_title_path(news, :title=>news.title.tr(' ', '_')) %></h3>

        <div style="margin-top:20px"><%= news.created_at.localtime.strftime("%b %d, %Y") %></div>
      </center>
      <p style="padding-top:20px"><%= news.content.html_safe %></p>

      <div class="fadeout"></div>
    </div>

    <% if @is_admin %>
    <%= news.archived %>
    <%= link_to 'Edit', edit_news_path(news) %>
    <% end %>
    <%= link_to 'Continue Reading...', news_with_title_path(news, :title=>news.title.tr(' ', '_')) %>
    <hr>
  </div>
  <% end %>
</div>
<% if @is_admin %>
<%= link_to 'New News', new_news_path %>
<% end %>
