<% @news.each_with_index do |n, i| %>
	<% if i == 0 %>		
		<h1><%= n.title %></h1>
		<small class="news-datetime"><%= n.updated_at.strftime("%b %d, %Y at %I:%M") %></small>
		<p><%= n.content.html_safe %></p>
	<% else %>
		</div>
		<div class="dark">
		<h1><%= n.title %></h1>
		<small class="news-datetime"><%= n.updated_at.strftime("%b %d, %Y at %I:%M") %></small>
		<p><%= n.content.html_safe %></p>

	<% end %>
<% end %> 

	
<!-- Always here -->
</div>
<div class="dark">
	<%= @html %>

	
