<h1>News</h1>
  <% @news.each do |news| %>

    <h3 style="display:inline"><%= news.title %></h3><span class="pull-right"><%= news.updated_at.localtime.strftime("%B %d, %Y at %I:%M %p") %></span>
    <div style="padding-top:20px"><%= news.content.html_safe %></div>

    <% if @is_admin %>
      <%= news.archived %>
      <%= link_to 'Edit', edit_news_path(news) %>
    <% end %>
    <hr>
  <% end %>
<br>
<% if @is_admin %>
  <%= link_to 'New News', new_news_path %>
<% end %>
