<h1>My Projects</h1>
  <div class="row">
    <% @projects.each_with_index do |project, index| %>
      <div class="col-sm-3">
      
        <h4><%= project.name %><br><small><%= project.summary %></small></h4>

        <% if !project.url.empty? %>
        <a href="<%= project.url %>" target="_blank" ><% end %><img class="img-responsive" alt="<%= project.name %>" src="<%= asset_path project.img %>"></img><% if !project.url.empty? %></a><% end %>
        
        <% if @is_admin %>
          <br>
          <%= link_to 'Show', project %>
          <%= link_to 'Edit', edit_project_path(project) %>
          <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
      <% if (index+1) % 4 == 0 %>
        </div>
        <div class="row">
      <% end %>
    <% end %>
  </div>

<% if @is_admin %>
  <%= link_to 'New Project', new_project_path %>
<% end %>

