<center><h1 style="font-weight:200">Projects</h1></center>
<div class="row projects_showcase">
  <% @projects.each_with_index do |project, index| %>
    <div class="col-sm-4">
      <img class="img-showcase img-responsive" alt="<%= project.name %>" src="<%= asset_path project.img %>"></img>
      <div class="contenthover">
          <h3><%= project.name %></h3>
          <p><%= project.desc %></p>
      </div>

      <% if @is_admin %>
        <br>
        <%= link_to 'Show', project %>
        <%= link_to 'Edit', edit_project_path(project) %>
        <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
    <% if (index+1) % 3 == 0 %>
      </div>
      <div class="row projects_showcase">
    <% end %>
  <% end %>
</div>

<% if @is_admin %>
<%= link_to 'New Project', new_project_path %>
<% end %>

<script>
$('.img-showcase').contenthover({
    overlay_background:'#000',
    overlay_opacity:0.8
});
</script>
