<div style='margin-top:30px'></div>
<div class="row">
  <div class="col-sm-9">
    <div id ="story">
      <% @story.each do |p| %>


        <img style="margin:5px" class="img-circle" src="<%= p["author"]["image"]["url"] %>"><%= link_to p["title"], p["url"], :style => 'font-size:200%' %>


        <%= p["content"].html_safe %>
        <small class="pull-right"><%= p["updated"] %></small>
        <hr>
      <% end %>
    </div>
  </div>
  <div class="col-sm-3" style="border-left-style: solid; border-left-width:1px;border-left-color: #eee">
    <h1 class="text-thin">Posts</h1>
    <ul class="list-group">
      <% @story.each do |p| %>
      <li class="list-group-item">
        <%= link_to p["title"], p["url"] %>

        <% end %>
      </ul>

      <br>
      <% if @is_admin %>
      <%= link_to 'New Post', new_post_path %>
      <% end %>
    </div>
  </div>
