<!DOCTYPE html>
<html>
<head>
	<title>Drew Wetherington</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale = 1.0">


	<!-- <link href='http://fonts.googleapis.com/css?family=Cinzel+Decorative' rel='stylesheet' type='text/css'> -->
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="<%=asset_path "logo.png" %>">
	<script src="//cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.3/trianglify.min.js"></script>
	<script src="http://d3js.org/d3.v3.min.js"></script>

</head>
<body>
	<div class="navbar-wrapper">
		<div class="container">
		<nav class="navbar navbar-inverse navbar-static-top">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-div">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div id="mobile-id" class="stand-out">
						<%= link_to params[:controller].capitalize, '#', { :class => "navbar-brand navbar-active"} %>
					</div>
				</div>
				<div id="navbar-collapse-div" class="navbar-collapse collapse">
					<ul class="nav navbar-nav stand-out">
						<% if params[:controller] == 'home' %>
						<li><%= link_to 'Home', root_path, {:class => 'navbar-active'} %></li>
						<% else %>
						<li><%= link_to 'Home', root_path %></li>
						<% end %>
						<li><%= link_to "Github <span style='width:17px' class='glyphicon glyphicon-share-alt'></span>".html_safe, 'https://github.com/DrewWeth', {:target=>"_blank"}%></li>

						<!-- <% if params[:controller] == 'posts' %>
						<li><%= link_to 'Blog Posts', posts_path, :class => 'navbar-active' %></li>
						<% else %>
						<li><%= link_to 'Blog Posts', posts_path %></li>
						<% end %> -->
						<% if params[:controller] == 'news' %>
						<li><%= link_to 'News', news_index_path, {:class => 'navbar-active'} %></li>
						<% else %>
						<li><%= link_to 'News', news_index_path %></li>
						<% end %>
						<% if params[:controller] == 'projects' %>
						<li><%= link_to 'Projects', projects_path, {:class => 'navbar-active'} %></li>
						<% else %>
						<li><%= link_to 'Projects', projects_path %></li>
						<% end %>
						<!-- <% if params[:controller] == 'accounts' %>
						<li><%= link_to 'Acounts', accounts_path, {:class => 'navbar-active'} %></li>
						<% else %>
						<li><%= link_to 'Acounts', accounts_path %></li>
						<% end %> -->
						<li><%= link_to "Resume <span style='width:17px' class='glyphicon glyphicon-share-alt'></span>".html_safe, @utility.resume_link, {:target=>"_blank"}%></li>
					</ul>
				</div>
		</nav>
	</div><!-- /container -->
	</div>
	<div id="variable-grayscale-background" style="background:<%= "#%06x" % (rand * 0x111111) %>;">
		<div id="cover-space" style="height:400px">
			<div style="height:100px"></div>
			<div class="center-feature">
				<div class="center white-text stand-out">
					<img class="avatar img-circle" src="https://www.gravatar.com/avatar/20279a558cf87c62875c1142057f577d?s=120" alt="Profile picture"/>
					<h1><%= @header_bg %></h1>
					<h1 style="font-family: 'Lobster', cursive;">Drew Wetherington</h1>
					<p class="text-thin">Developer & Student</p>
				</div>
			</div>
		</div>
	</div>

	<% if params["controller"] == 'home' %>
	<div class="container">
		<% end %>
		<%= yield %>
	</div>

	<footer>
		<div class="footer-shaded">
			<p class="pull-right"><a href="#">Back to top</a></p>

			<address>
				<strong>Drew Wetherington</strong><br>
				Dgwetherington@gmail.com
			</address>

			<div>
				<% if current_user != nil %>
				Logged in as <%= link_to current_user.email, edit_user_registration_path %>
				<% end %>

			</div>
		</footer>

		<script>
		$(document).ready(function(){

			var t = new Trianglify({noiseIntensity: 0, strokeOpacity: 1, fillOpacity: <%= rand(0.3..0.9) %>});
			var pattern = t.generate(window.innerWidth, window.innerHeight);
			$('#showcase').css({"background": "#ddd"});
			$('#cover-space').css({"background": pattern.dataUrl + " no-repeat center center", "background-size": "cover"} );
		})
		</script>

	</body>
	</html>
