<!DOCTYPE html>
<html>
<head>
	<title>Druify</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<!-- <link href='http://fonts.googleapis.com/css?family=Cinzel+Decorative' rel='stylesheet' type='text/css'> -->
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=UnifrakturMaguntia' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="<%=asset_path "logo.png" %>">

</head>
<body style="background: url(<%= @bg %>) no-repeat center center fixed">
	<button class="arrow left" id="left-arrow">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60px" height="80px" viewBox="0 0 50 80" xml:space="preserve">
			<polyline fill="none" stroke="#FFFFFF" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="
			45.63,75.8 0.375,38.087 45.63,0.375 "/>
		</svg>  
	</button>

	<button class="arrow right" id="right-arrow">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60px" height="80px" viewBox="0 0 50 80" xml:space="preserve">
			<polyline fill="none" stroke="#FFFFFF" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="
			0.375,0.375 45.63,38.087 0.375,75.8 "/>
		</svg>
	</button>
	<div id="wrapper" class="name">
		<div class="background-image" style="background: url(<%= @bg %>) no-repeat top center fixed">
		</div>
		<div id="header">
			<center><h1><a style="color: #fff !important" href="<%= root_path %>">Drew Wetherington</a></h1>
				<%= link_to 'Projects', projects_path %> 

				| <%= link_to 'Blog Posts', posts_path %> 
				| <%= link_to 'Acounts', accounts_path %> 
				| <%= link_to 'News', news_index_path %>
				| <% if current_user == nil %>
				<%= link_to 'Login', new_user_session_path %>
				<% else %>
				<%= link_to current_user.email, edit_user_registration_path %>
				<% end %>
			</center>
		</center>
	</div>
	<div class="dark">
		<p><%= notice %></p>
		<p><%= alert %></p>

		<%= yield %>
	</div>
	<div id="footer">
			<%= link_to 'Templates', templates_path %>


			<div class="pull-right">
				<a class="btn btn-social-icon btn-twitter" href="https://twitter.com/DrewWeth">
					<i class="fa fa-twitter"></i>
				</a>
				<a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/drew.wetherington">
					<i class="fa fa-facebook"></i>
				</a>
				<a class="btn btn-social-icon btn-github" href="https://github.com/DrewWeth">
					<i class="fa fa-github"></i>
				</a>
				<a class="btn btn-social-icon btn-google-plus" href="https://plus.google.com/u/0/113926987158062055829/posts">
					<i class="fa fa-google-plus"></i>
				</a>
				<a class="btn btn-social-icon btn-instagram" href="http://instagram.com/drewweth/">
					<i class="fa fa-instagram"></i>
				</a>
				<br>
			</div>
			<br>
			<br>
			Visits <%= number_with_delimiter(@count, :delimeter => ',') %>
		</div>
	</div>
</div>

<script>
	$('#left-arrow').click(function(){
		$.ajax({
		url: 'templates/prev',
		method: 'post',

		}).done(function(jn){
			if (jn["valid"])
			{

				var str = "url(" + jn.bgUrl + ") no-repeat top center fixed";
				$('body').css('background', str);
				$('.background-image').css('background', str);
				console.log(jn);
				$('#header').css('background-color', jn["headerColor"]);	
			}
		});
	});

	$('#right-arrow').click(function(){
		$.ajax({
			url: 'templates/next',
			method: 'post',

		}).done(function(jn){
			if (jn["valid"])
			{
				var str = "url(" + jn.bgUrl + ") no-repeat top center fixed";
				$('body').css('background', str);
				$('.background-image').css('background', str);
				console.log(jn);
				$('#header').css('background-color', jn["headerColor"]);
			}
		});
	});
</script>
</body>
</html>
