<center><h1 class="text-thin">Accounts</h1></center>

<ul class="list-group">

    <% @accounts.each do |account| %>
      <li class="list-group-item">
        <%= link_to account.username, account.url %> on <%= account.host %>
        <p><%= account.desc %></p>
        <% if @is_admin %>
          <%= link_to 'Show', account %>
          <%= link_to 'Edit', edit_account_path(account) %>
          <%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
    <% end %>
  </ul>
    <br>
<% if @is_admin %>
  <%= link_to 'New Account', new_account_path %>
<% end %>
