<h1>Listing accounts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Site</th>
      <th>Url</th>
      <th>Desc</th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.username %></td>
        <td><%= account.host %></td>
        <td><%= account.url %></td>
        <td><%= account.desc %></td>
        <% if @is_admin %>
        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if @is_admin %>
  <%= link_to 'New Account', new_account_path %>
<% end %>